<section>
    <div class="list-header">
        <span>Mitarbeiter</span>
        <span>Projekt</span>
        <span>Datum</span>
        <span>Start</span>
        <span>Ende</span>
        <span>Kommentar</span>
    </div>

    <div class="list-row" *ngFor="let record of apiService.timeRecords; let i = index">
        <span>{{ record.staff_name }}</span>
        <span>{{ record.project_name }}</span>
        <span>{{ record.date }}</span>
        <span>{{ record.time_start }}</span>
        <span>{{ record.time_end || '-' }}</span>
        <span>{{ record.comment || '-' }}</span>
        <button mat-flat-button *ngIf="record.time_end == null" (click)="editRecord(record.id)">End Work</button>
        <button class="delete-button" mat-flat-button (click)="deleteRecord(record.id)">Delete</button>
    </div>

    <div class="list-total">
        <span>Total Projects</span>
        <span>{{ getTotalProjects() }}</span>
    </div>
    <div class="list-total">
        <span>Total Time</span>
        <span>{{ getTotalHours() }}</span>
    </div>
</section>