@use './../../styles.scss' as *;

section {
  @include flex-position($fd: column, $jc: center, $ai: center);
  gap: 20px;
  padding: 40px;

  p {
    margin-bottom: 40px;
  }

  div {
    @include flex-position($fd: row, $jc: space-between, $ai: flex-start);
    width: 100%;
  }

  app-form {
    width: 30% !important;
  }

  app-list {
    width: 70% !important;
  }
}